<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chacq.share">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 解锁的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 亮屏的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.ccq.share.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/chachequan_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chachequan_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ccq.share.activity.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ccq.share.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.ccq.share.activity.SetWechatContentActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.ccq.share.activity.MainSettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity android:name="com.ccq.share.activity.SetDelayTimeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.ccq.share.activity.PreViewActivity"
            android:hardwareAccelerated="false"/>

        <!--<service-->
        <!--android:name=".core.AutoShareService"-->
        <!--android:label="@string/app_name"-->
        <!--android:enabled="true"-->
        <!--android:exported="true"-->
        <!--android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.accessibilityservice.AccessibilityService"/>-->
        <!--</intent-filter>-->
        <!--<meta-data-->
        <!--android:name="android.accessibilityservice"-->
        <!--android:resource="@xml/accessibility"/>-->
        <!--</service>-->

        <service
            android:name="com.ccq.share.AutoShareService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>

        <service android:name="com.ccq.share.core.DownPicService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c150bf9b465f50b3a0005f5"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="d48983d7a893e86d6736ad765de89a52"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>